@{
    ViewBag.Title = "File Upload Limit Exceeded";
}
<h2>Sorry. The files you have tried to upload total more than 20MB in size. Please go back and try uploading them one by one, or saving them into a smaller file size or format.</h2>
